   /**
   * responsive for larger than 575px screen
   */
  
   @media (min-width: 575px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .grid-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
  
    .faq .grid-list {
      grid-template-columns: 1fr;
    }
    /**
     * CONTACT
     */
  
    .input-wrapper {
      display: flex;
      gap: 15px;
    }
  }
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 4.5rem;
      --fs-2: 3.7rem;
      --fs-3: 2.3rem;
      --fs-4: 1.8rem;
      --fs-5: 1.5rem;
      --fs-6: 1.4rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
    .section-text {
      max-width: 65ch;
      margin-inline: auto;
    }
  
    /**
     * HERO
     */
  
    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
    /**
     * ABOUT
     */
  
    .about-banner {
      max-width: 550px;
    }
  
    .about .section-text {
      max-width: unset;
      margin-inline: 0;
      text-align: justify;
    }
  
    /**
     * FEATURES
     */
  
    .features .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    /**
     * CONTACT
     */
  
    .contact-form {
      padding: 30px;
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 5rem;
      --fs-2: 4rem;
      --fs-3: 2.5rem;
  
      /**
       * spacing
       */
  
      --section-padding: 50px;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 960px;
    }
  
    .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * HEADER
     */
  
    .nav-toggle-btn {
      display: none;
    }
  
    .navbar,
    .navbar.active {
      all: unset;
    }
  
    .navbar-list {
      all: unset;
      display: flex;
      align-items: center;
      gap: 30px;
    }
  
    .navbar-link {
      position: relative;
    }
  
    .navbar-link:is(:hover, :focus) {
      color: var(--black);
    }
  
    .navbar-link::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: var(--gradient);
      transform: scaleX(0);
      transform-origin: left;
      transition: var(--transition-2);
    }
  
    .navbar-link:is(:hover, :focus)::after {
      transform: scaleX(1);
    }
  
    .header .btn {
      margin-block-start: 0;
    }
  
    /**
     * HERO
     */
  
    .hero {
      padding-block-start: calc(var(--section-padding) + 100px);
    }
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
      text-align: left;
    }
  
    .hero-content {
      margin-block-end: 0;
    }
  
    .hero-subtitle {
      position: relative;
      padding-inline-start: 15px;
    }
  
    .hero-subtitle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--safety-orange);
    }
  
    .hero-text,
    .hero .btn {
      margin-inline: 0;
    }
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    .about-banner {
      margin-block-end: 0;
    }
  
    /**
     * SERVICE
     */
  
    .service-card {
      padding: 20px;
    }
  
    .service-card .h3 {
      --fs-3: 2.3rem;
    }
  
    /**
     * FEATURES
     */
  
    .features .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * PROJECT
     */
  
    .project-card .card-subtitle {
      --fs-6: 1.5rem;
    }
  
    /**
     * CONTACT
     */
  
    .checkbox-wrapper {
      margin-block: 20px;
    }
  
    /**
     * FAQ
     */
  
     .faq .container {
      grid-template-columns: 0.48fr 1fr;
      align-items: flex-start;
    }
  
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
    }
  
    .footer-bottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .copyright {
      margin-block-end: 0;
    }
  
    
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 6.8rem;
      --fs-2: 4.5rem;
      --fs-4: 1.9rem;
      --fs-5: 1.6rem;
      --fs-6: 1.6rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 1140px;
    }
  
    .btn {
      --fs-6: 1.5rem;
    }
  
    /**
     * ABOUT
     */
  
     .about .container {
      gap: 60px;
    }
  
    .about-item {
      gap: 7px;
    }
  
    .about-item ion-icon {
      font-size: 20px;
    }
  
    /**
     * SERVICE
     */
  
    .service-card {
      padding: 30px;
    }
  
    .service-card .h3 {
      --fs-3: 2.5rem;
    }
  
    /**
     * PROJECT
     */
  
    .project-card .card-content {
      padding: 30px;
    }
  
    .project-card .card-subtitle {
      --fs-6: 1.6rem;
    }
  
  
    /**
     * CTA
     */
  
    .cta .section-title {
      margin-block: 15px 24px;
    }
  
    /**
     * CONTACT
     */
  
    .contact-form {
      padding: 50px;
    }
  
    /**
     * FAQ
     */
  
    .faq-card .card-action.active + .card-content {
      max-height: 200px;
    }
  }



 